<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="index-bg">
      <div>
        <h1>StopFoodWaste</h1>
        <h3>See the actual expiry date of food</h3>
        <p class="lead" style="margin: 5px 20px 25px 20px;">
          We believe that all of us should do our part to reduce food waste!</br>
          A small place to start is at home.
          To help every household reduce their own food waste we have created this application to help you
          identify which food items is about to expire,</br> with recommendations on how to use these items with a nice recipe.
          It is easy to use, scan your shopping list to add the items.</br> That’s it!
          You can also find your items through the search function:
          Type in the item you are looking for and your will get great information to help you manage your food.
        </p>
        <%= form_tag index_index_path, method: :get, id: 'submit-search' do %>
          <%= text_field_tag :name, params[:name], placeholder: 'Enter a food product', autofocus: true, class: "col-sm-10", style: "width: 25%" %>
          <%= submit_tag 'Search', id: 'search-button', class: 'btn btn-success' %>
        <% end %>

        <% if @products.present? %>
          <% @products.each do |product| %>
            <div class="card border-success mb-3" style="width: 20rem;">
              <h4 class="card-header"> <%= product.name %> </h4>
              <div class="card-body">
                <p class="card-text"> Description: <%= product.description %> </p>
                <p class="card-text"> <%= product.best_before %> durability days</p>
                <%= product.recommendations %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
